.divBorder{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;

   }

.divGraph{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque
}
.divBorder1{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
   }
.divmask{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: fit-content;
    margin: 2px;
   }
.divimg{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: fit-content;
    margin:2px
}
.divgraph{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    height: 600px;
    margin:2px
}

.divHeader{
    border: 2px solid black;
    padding: 10px;
    width: auto;
    background-color: bisque;
    margin :10px;
    background-color: darkseagreen;
    padding: 10px;
    align-content: center;
   }

.divServer{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    background-color: bisque;
    margin :10px 
}

.buttons{
    border: 2px solid black;
    padding: 10px;
    background-color: bisque;
    margin :10px 
}

.divbig{
    border: 2px solid black;
    padding :10px ;
    background-color: skyblue;
    height: 630px;
    width: auto;
    margin:10px
}

.divmarks{
    border: 2px solid black;
    padding: 10px;
    width: auto;
    background-color: aquamarine;
    margin: 10px;
}
/* .div1{, className='div1')
    /* padding :10px ; */
    /* background-color: beige;
    width: 100%;
} */ */
/* body {
    margin: 0;

    
} */
.div1{
    border: 1px solid black;
}
.divcol{
    border: 2px;
    border-color: black;
}

.divfooter{
    border-top: 1px solid black;
    padding: 10px;
    width: auto;
    background-color: #e5bcc5;
}

.header{
    border-bottom: 3px solid rgb(166, 140, 179);
    padding: 10px;
    width: auto;
    color: #46363b;
}

.headerbuts{
    padding: 10px;
    width: auto;
    color: #46363b;
    font-size: 14px;
    text-align: center;
    width: 200px;
    height:100%;
}

.headercol{
    margin-left: auto; 
    margin-right: 0;
}

.divHeader1{
    background-color: rgb(255, 255, 255);
    height:500px;
    border-bottom: 1px solid black;
}
.big-awareness{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top:50px
}

.bigbox{
    width: 600px;
    align-content: center;
    margin: auto;
}
.bigbox12{
    margin:auto;
    background-color: #ebe5e5;
    height: 500px;
}
.headerrow1{
    height: 100%;
}

.bigbozframe{
    display: flex;
    justify-content: center;
}
.big-awareness1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top:5px
}

.annotationtool{
    height:fit-content;
    background-color: #a6d9da;
    padding: 10px;
    padding-left: 30px;
}

.graphout{
    height:fit-content;
    width:fit-content;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    min-height: 270px;
    min-width: 270px;
    margin: 10px;
}

.graphout1{
    height:fit-content;
    width:fit-content;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    min-height: 600px;
    min-width: 900px;
}


.graphout2{
    height: 600px;
    width:300px;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
    
}
.bigbox2{
    width: 700px;
    align-content: center;
    margin: auto; 
}
.bigbox1{
    padding: 20px;
    height: 500px;
    background-color: peachpuff;
}
.navlink{
    background-color: #e5bcc5;
    border: #f7cad5;
    padding: 10px;
    font-size: 20px;
    margin:5px;
    color:#46363b
}

.logo{
    margin-left: 100px;
}
.table{
    margin:20px;
    background-color: #e5bcc5;
    width: 90%;
}

.classifys{
    border: 1px solid black;
    background-color: #a6d9da;
    height:100px;
    padding: 10px;
}